In [ ]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [5]:
# Exercise 3 - Create a markdown cell for an introduction

##### In this notebook, Data Science Tools and Ecosystem are summarized.

##### In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Object**
- Languages
- Libraries
- Tools

**Object**
- Languages
- Libraries
- Tools

In [8]:
# Exercise 4 - Create a markdown cell to list data science languages

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [6]:
# Exercise 5 - Create a markdown cell to list data science libraries

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

In [9]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
|RStudio|
|Apache Park|
|Tensorflow|

| Data Science Tools |
|--------------------|
|RStudio|
|Apache Park|"
|Tensorflow|

In [10]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [12]:
(3*4)+5

17

In [13]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [23]:
# This will convert 200 minutes to hours by diving by 60
x = 200//60
y = 200%60
print(f'{x} hours {y} minutes')

3 hours 20 minutes

In [25]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
**Khuu Cam Tu**

## Author
**Khuu Cam Tu**